body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar {
	/* prevents spawning navigation on second line on extremely small displays */
	max-height: 50px;
	overflow: hidden;
}

/* MVC validation error styling */
.input-validation-error {
	border-color: hotpink;
}
.field-validation-error {
	color: hotpink;
}
.validation-summary-errors {
	color: hotpink;
	font-style: italic;
}