@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p>
            Welcome to obscure.design management backend.<br/>
            Proceed by selecting action from the menu.
        </p>
    </div>
</div>
