@model UserModel
@{
    ViewBag.Title = "User management";
}

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6">
        <form asp-controller="User" asp-action="Edit" method="post">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="DisplayName">@Html.DisplayNameFor(model => model.DisplayName)</label>
                <input asp-for="DisplayName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
                <input asp-for="Email" type="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
